<h1>Log In</h1>

<%= form_tag session_path do %>
  <fieldset>
    <div class="clearfix">
      <label>Email: </label>
      <div class="input">
        <%= text_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="clearfix">
      <label>Password:</label>
      <div class="input">
        <%= password_field_tag :password %>
      </div>
    </div>
    
    <div class="actions">
      <%= submit_tag "Log in", class: "btn btn-primary "%>
    </div>
    
  </fieldset>

<% end %>
